[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
starlette = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"

[scripts]
flake8 = "flake8 daemon --count --statistics --show-source"
daemon = "python daemon/daemon.py"
