[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
starlette = "*"
aiohttp = "*"
aioredis = "*"
nest-asyncio = "*"
sqlalchemy = "*"
aiomysql = "*"
asyncpg = "*"
sentry-sdk = "*"

[dev-packages]
sphinx = "*"
sphinx-press-theme = "*"
black = "==20.8b1"
flake8 = "*"
wemake-python-styleguide = "*"
coverage = {extras = ["toml"], version = "*"}

[scripts]
daemon = "sh daemon.sh"
docs = "sh docs.sh"
black = "black -l 120 ."
flake8 = "flake8 daemon --count --statistics --show-source"
test = "sh test.sh"
coverage = "sh coverage.sh"
