[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
starlette = "*"
sqlalchemy = "*"
psycopg2 = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
sphinx = "*"
sphinx-press-theme = "*"
coverage = {extras = ["toml"], version = "*"}

[scripts]
flake8 = "flake8 daemon --count --statistics --show-source"
daemon = "python daemon/daemon.py"
docs = "make -C docs html"
test = "sh test.sh"
coverage = "sh coverage.sh"
